@import url(./__hovering-icon/cards__hovering-icon.css);
@import url(./__hovering-message/cards__hovering-message.css);

.cards__hovering {
  display: flex;
  align-items: center;
  position: absolute;
  right: 24px;
  top: 24px;
}

@media screen and (max-width: 1024px) {
  .cards__hovering {
    right: 8px;
    top: 8px;
  }
}

@media screen and (max-width: 500px) {
  .cards__hovering {
    right: 16px;
    top: 16px;
  }
}