@import url(./_light/header__site-name_light.css);

.header__site-name {
  font-family: 'Roboto Slab', Times, serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.header__site-name:hover {
  opacity: .8;
}

@media screen and (max-width: 700px) {
  .header__site-name {
    font-size: 14px;
    line-height: 20px;
  }
}