.header-menu__item_type_selected {
  border-bottom: 3px solid #fff;
  padding: 18px 0;
}

@media screen and (max-width: 1024px) {
  .header-menu__item_type_selected {
    padding: 19px 0;
  }
}

@media screen and (max-width: 700px) {
  .header-menu__item_type_selected {
    padding: 17px 0;
  }
}

@media screen and (max-width: 500px) {
  .header-menu__item_type_selected {
    border: none;
  }
}