@import url(./__item/header-menu__item.css);
@import url(./_mobile/header-menu_mobile.css);

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

@media screen and (max-width: 500px) {
  .header-menu {
    display: none;
  }
}