.popup__close {
  width: 22px;
  position: absolute;
  top: -30px;
  right: -30px;
  cursor: pointer;
  opacity: .7;
}

.popup__close:hover {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .popup__close {
    top: -39px;
    right: 17px;
    background: #0F120C;
    opacity: 1;
  }
}