.saved__desc {
  font-family: 'Roboto', Times, serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
  margin: 40px 0 28px;
}

@media screen and (max-width: 1024px) {
  .saved__desc {
    font-size: 14px;
    margin: 24px 0 16px;
  }
}

@media screen and (max-width: 1024px) {
  .saved__desc {
    font-size: 12px;
    margin: 8px 0 16px;
  }
}